<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.apps.trackabuddy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.codepath.apps.trackabuddy.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.codepath.apps.trackabuddy.permission.C2D_MESSAGE" />

    <permission android:name="com.codepath.apps.trackabuddy.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.codepath.apps.trackabuddy.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.codepath.apps.trackabuddy.TrackABuddyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_track"
        android:label="@string/app_name"
        android:theme="@style/MyCustomTheme">
        <activity
            android:name="com.codepath.apps.trackabuddy.MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codepath.apps.trackabuddy.HandleTrackReqActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.codepath.apps.trackabuddy.ShowTrackReqResp"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>

        <activity
            android:name="com.codepath.apps.trackabuddy.ContactActivity"
            android:label="Contacts" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name. -->
                <category android:name="com.codepath.apps.trackabuddy" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.codepath.apps.trackabuddy.networking.MyCustomReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="TRACK_REQ" />
                <action android:name="TRACK_REQ_RESP" />
            </intent-filter>
        </receiver>


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDgmRJWdABeh8PZtF7eMH6ZFf29IHCqkpM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        
        <service 
            android:name="com.codepath.apps.trackabuddy.service.TrackaBuddyService" 
            android:label="@string/app_name" 
            android:enabled="true"/>
        

    </application>

</manifest>
